{% extends "base.html" %}
{% block content %}

<h3 class="light-blue-text text-darken-4 center-align">Edit receipe</h3>

<div class="row card-panel grey lighten-5">
    <form class="col s12" method="POST" action="{{ url_for('edit_receipe', receipe_id=receipe.id) }}">
      <!--Receipe name-->
      <div class="row">
        <div class="input-field col s12">
          <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
          <input id="receipe_name" name="receipe_name" value="{{receipe.receipe_name }}" minlength="3" maxlength="50" type="text" class="validate" required>
          <label for="receipe_name">Receipe Name</label>
        </div>
      </div>
      <!--receipe description-->
      <div class="row">
        <div class="input-field col s12">
          <i class="fas fa-align-left prefix light-blue-text text-darken-4"></i>
          <textarea id="receipe_description" name="receipe_description" minlength="5" maxlength="1000" type="text" 
          class="materialize-textarea validate" required>
          {{ receipe.receipe_description }}
          </textarea>
          <label for="receipe_description">Receipe description</label>
        </div>
      </div>
      <!--Preparation method-->
      <div class="row">
        <div class="input-field col s12">
          <i class="fas fa-align-left prefix light-blue-text text-darken-4"></i>
          <textarea id="prep_method" name="prep_method" minlength="5" maxlength="2000" type="text" class="materialize-textarea 
          validate" required>
          {{ receipe.prep_method }}
          </textarea>
          <label for="prep_method">Receipe method</label>
        </div>
      </div>
      <!-- category id -->
      <div class="row">
        <div class="input-field col s12">
            <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
            <select id="category_id" name="category_id" class="validate" required>
                <option value="" disabled selected>Choose Category</option>
                {% for category in categories %}
                    {% if category == receipe.category %}
                        <option value="{{ category.id }}" selected>{{ category.category_name }}</option>
                    {% else %}
                        <option value="{{ category.id }}">{{ category.category_name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <label for="category_id">Category</label>
        </div>
     </div>
     <!-- ingredients id -->
     <div class="row">
      <div class="input-field col s12">
          <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
          <select multiple id="ingredients_id" name="ingredients_id" class="validate" required>
              <option value="" disabled selected>Choose Ingredient</option>
              {% for ingredients in ingredients %}
                  {% if ingredients==receipe.ingredients %}
                      <option value="{{ ingredients.id }}" selected>{{ ingredients.ingredient_name }}</option>
                  {% else %}
                      <option value="{{ ingredients.id }}">{{ ingredients.ingredient_name }}</option>
                  {% endif %}
                {% endfor %}
          </select>
          <label for="ingredients_id">Ingredient</label>
      </div>
   </div>
      <!--Submit button-->
      <div class="row">
        <div class=" col s12 center-align">
          <button type="submit" class="btn-large light-blue darken-1">
            Edit Receipe <i class="fas fa-edit right"></i>
          </button>
        </div>
      </div>
    </form>
  </div>

{% endblock %}