{% extends "base.html" %}
{% block content %}

<h3 class="light-blue-text text-darken-4 center-align">Receipes</h3>

<div class="row">
    <div class="col s12 center-align">
        <a href="{{ url_for('add_receipe') }}" class="btn-large light-blue darken-2">
            Add receipe <i class="fas fa-plus-square right"></i>
        </a>
    </div>
</div>

<ul class="collapsible">
    {% for receipe in receipes %}
    <li>
        <div class="collapsible-header white-text light-blue darken-4">
            <i class="fas fa-caret-down"></i>
            <strong>{{ receipe.receipe_name }}</strong>
        </div>
        <div class="collapsible-body">
            <strong>Description</strong>
            <p>{{ receipe.receipe_description }}</p>
            <strong>Ingredients</strong>
            <p>{{ receipe.ingredients }}</p>
            <strong>How to Prepare</strong>
            <p>{{ receipe.prep_method }}</p>
            <p>
                <a href="{{ url_for('edit_receipe', receipe_id=receipe.id) }}" class="btn green accent-4">Edit</a>
            </p>
        </div>
    </li>
    {% endfor %}
</ul>

{% endblock %}